html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

a:hover {
    color: #0e55bf;
}

.form-group {
    margin-bottom: 1rem;
}

.extras {
    background: #4971FF !important;
}

.btn-outline-info {
    color: #db2d2e !important;
    border-color: #db2d2e !important;
}

    .btn-outline-info:hover {
        color: #000 !important;
        background-color: #db2d2e !important;
        border-color: #db2d2e !important;
    }

.btn-extras {
    color: #4971FF !important;
    border-color: #4971FF !important;
}

.btn-extras-selected {
    color: #000 !important;
    background-color: #4971FF !important;
    border-color: #4971FF !important;
}

.extras-search {
    text-align: center;
    position: absolute;
    top: 85%;
}

.extras-search-btn {
    background: #4971FF !important;
    color: white;
}

.login {
    max-width: 330px !important;
}

/* validation errors */
.validation-summary-errors,
.field-validation-error {
    color: #c93333;
}

.input-validation-error {
    border: 1px solid #ff0000 !important;
    background-color: #ffeeee;
}

.validation-summary-valid,
.field-validation-valid {
    display: none;
}

.my-page-thead {
    background: #f7f7f7;
}


.btn-info {
    color: #0d6efd !important;
    background-color: white !important;
    border-color: #0d6efd !important;
}

    .btn-info:hover {
        color: #000 !important;
        background-color: #0d6efd !important;
        border-color: #0d6efd !important;
    }

.edit-profile-btn {
    position: relative;
    left: 55%;
}

.c-white:hover {
    color: white;
}

td .fa-check-circle {
    color: green;
}

td .fa-circle {
    color: red;
}

.form-control[readonly].flatpickr-input {
    background-color: white;
}

.image-preview {
    width: 100%;
    height: 180px;
    background-position: center center;
    background: url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0,0,0,0.2);
}

.btn-primary {
    display: block;
    border-radius: 0px;
    box-shadow: 0px 4px 6px 2px rgba(0,0,0,0.2);
    margin-top: -5px;
}

.img-up {
    margin-bottom: 15px;
}

.del {
    float: right;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(255,255,255,0.6);
    cursor: pointer;
}

.img-add {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4bd7ef;
    color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px;
    padding-left: .8%;
}

.table-img {
    max-height: 100px;
    max-width: 150px;
}

.btn-white{
    background-color: white;
}
