@*@using BraAuto.Resources;*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    
    <!-- App Name -->
    <meta name="apple-mobile-web-app-title" content="BraAuto">
    <meta name="application-name" content="BraAuto">

    <meta name="description" content="Site for car selling and car services.">
    <meta name="keywords" content="car, cars, service">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BraAuto</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/lib/bootstrap-5.1.3-dist/css/bootstrap.css" type="text/css">
    <link href="~/fonts/fontawesome-6.2.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/template/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/template/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/template/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/template/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/template/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/template/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/template/style.css" type="text/css">

    @await RenderSectionAsync("BeforeMainStyles", required: false)

    <link rel="stylesheet" href="~/css/site.css" type="text/css">

    @await RenderSectionAsync("Styles", required: false)

    <script src="~/lib/jquery-3.6.0/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery-validation-1.19.5/jquery-validation.min.js"></script>
    <script src="~/lib/jquery-validation-1.19.5/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</head>

<body>
    <div id="page">
        @if (ViewBag.ShowHeader == null || ViewBag.ShowHeader == true)
        {
            <header id="header" class="mb-3 @(ViewBag.StikyHeader != null && ViewBag.StikyHeader == true ? "sticky-header" : "")">
                <partial name="_MenuPartial" />
            </header>
        }

        @RenderBody()
    </div>

    @if (ViewBag.ShowFooter == null || ViewBag.ShowFooter == true)
    {
        <footer class="footer set-bg" data-setbg="/img/footer-bg.jpg">
              <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="footer__about">
                            <div class="footer-logo">
                                <a asp-action="Home" asp-controller="Cars"><img src="~/img/logo.png" alt=""></a>
                            </div>
                            <p>Any questions? Let us know. Email: brayan.hristov99@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-1 col-md-3">
                        <div class="footer__widget">
                            <h5>Infomation</h5>
                            <ul>
                                <li><a asp-action="Home" asp-controller="Cars"><i class="fa fa-angle-right"></i> Home</a></li>
                                <li><a asp-action="Search" asp-controller="Cars"><i class="fa fa-angle-right"></i> Cars</a></li>
                                <li><a asp-action="Search" asp-controller="Articles"><i class="fa fa-angle-right"></i> Articles</a></li>
                                <li><a asp-action="Search" asp-controller="Services"><i class="fa fa-angle-right"></i> Services</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <div class="footer__widget">
                            <h5>Infomation</h5>
                            <ul>
                                <li><a asp-action="Search" asp-controller="Cars" asp-route-vehicleTypeId="1"><i class="fa fa-angle-right"></i> Car</a></li>
                                <li><a asp-action="Search" asp-controller="Cars" asp-route-vehicleTypeId="2"><i class="fa fa-angle-right"></i> Bus</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer__brand">
                            <h5>Top Brand</h5>
                            <ul>
                                <li><a asp-action="Search" asp-controller="Cars" asp-route-makeId="3"><i class="fa fa-angle-right"></i> BMW</a></li>
                                <li><a asp-action="Search" asp-controller="Cars" asp-route-makeId="1"><i class="fa fa-angle-right"></i> Audi</a></li>
                                <li><a asp-action="Search" asp-controller="Cars" asp-route-makeId="22"><i class="fa fa-angle-right"></i> Mercedes-Benz</a></li>
                                <li><a asp-action="Search" asp-controller="Cars" asp-route-makeId="34"><i class="fa fa-angle-right"></i> VW</a></li>
                            </ul>
                            <ul>
                                <li><a asp-action="Search" asp-controller="Cars" asp-route-makeId="8"><i class="fa fa-angle-right"></i> Dodge</a></li>
                                <li><a asp-action="Search" asp-controller="Cars" asp-route-makeId="7"><i class="fa fa-angle-right"></i> Chevrolet</a></li>
                                <li><a asp-action="Search" asp-controller="Cars" asp-route-makeId="10"><i class="fa fa-angle-right"></i> Ford</a></li>
                                <li><a asp-action="Search" asp-controller="Cars" asp-route-makeId="15"><i class="fa fa-angle-right"></i> Jeep</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer__copyright__text">
                    <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This web site is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">BraAuto</a></p>
                </div>
            </div>
        </footer>
    }

    <script>
        var braAuto = braAuto || {};

        braAuto.rootUrl = "@Url.Content("~/")";
    </script>
    <script src="~/js/utils.js"></script>
    <script src="~/lib/popper-2.10.2/popper.min.js"></script>
    <script src="~/lib/bootstrap-5.1.3-dist/js/bootstrap.js"></script>
    <script src="~/js/template/jquery.magnific-popup.min.js"></script>
    <script src="~/js/template/jquery-ui.min.js"></script>
    <script src="~/js/template/mixitup.min.js"></script>
    <script src="~/js/template/jquery.slicknav.js"></script>
    <script src="~/js/template/owl.carousel.min.js"></script>
    <script src="~/js/template/main.js"></script>

    @if (ViewBag.RegisterLazyMultiselect == true)
    {
        <script src="~/js/lazy-multiselect/lazy-multiselect.js"></script>
        <link rel="stylesheet" href="~/js/lazy-multiselect/lazy-multiselect.css" type="text/css" />
    }

    @if (ViewBag.RegisterFlatPickr == true || ViewBag.RegisterFlatpickrMonthSelect == true)
    {
        <link href="~/lib/flatpickr-4.6.13/flatpickr.min.css" rel="stylesheet" />
        <script src="~/lib/flatpickr-4.6.13/flatpickr.min.js"></script>
    }

    @if (ViewBag.RegisterFlatpickrMonthSelect == true)
    {
        <link href="~/lib/flatpickr-4.6.13/plugins/monthSelect/style.css" rel="stylesheet" />
        <script src="~/lib/flatpickr-4.6.13/plugins/monthSelect/index.js"></script>
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>